#{extends 'main.html' /}
#{set title:'Confirm ' + hotel.name + ' booking' /}

<h1>Confirmar reserva de hotel</h1>

#{form @confirmBooking(hotel.id)}
    <p>
        <strong>Nombre:</strong> ${hotel.name}
    </p>
    <p>
        <strong>Dirección</strong> ${hotel.address}
    </p>
    <p>
        <strong>Ciudad:</strong> ${hotel.city}
    </p>
    <p>
        <strong>Estado:</strong> ${hotel.state}
    </p>
    <p>
        <strong>Codigo Postal:</strong> ${hotel.zip}
    </p>
    <p>
        <strong>País:</strong> ${hotel.country}
    </p>
    <p>
        <strong>Precio por noche:</strong> ${hotel.price}
    </p>
    <p>
        <strong>Camas:</strong> ${booking.beds}
        <input type="hidden" name="booking.beds" value="${booking.beds}">
    </p>
    <p>
        <strong>Total:</strong> ${booking.total.formatCurrency('USD')}
    </p>
    <p>
        <strong>Inicio:</strong> ${booking.checkinDate.format('yyyy-MM-dd')}
        <input type="hidden" name="booking.checkinDate" value="${booking.checkinDate.format('yyyy-MM-dd')}">
    </p>
    <p>
        <strong>Salida:</strong> ${booking.checkoutDate.format('yyyy-MM-dd')}
        <input type="hidden" name="booking.checkoutDate" value="${booking.checkoutDate.format('yyyy-MM-dd')}">
    </p>
    <p>
        <strong>Tarjeta crédito #:</strong> ${booking.creditCard}
        <input type="hidden" name="booking.creditCard" value="${booking.creditCard}">
        <input type="hidden" name="booking.creditCardName" value="${booking.creditCardName}">
        <input type="hidden" name="booking.creditCardExpiryMonth" value="${booking.creditCardExpiryMonth}">
        <input type="hidden" name="booking.creditCardExpiryYear" value="${booking.creditCardExpiryYear}">
    </p>
    
    <p class="buttons">
        <input type="submit" value="Confirm" name="confirm"> <input type="submit" value="Revise" name="revise"> <a href="@{show(hotel.id)}">Cancel</a>    
    </p>
#{/form}
