#{if hotels}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Ciudad, Estado</th>
                <th width="8%">Codigo postal</th>
                <th width="13%">Acción</th>
            </tr>
        </thead>
        <tbody>
            #{list hotels, as:'hotel'}
                <tr>
                    <td>${hotel.name}</td>
                    <td>${hotel.address}</td>
                    <td>${hotel.city}, ${hotel.state}, ${hotel.country}</td>
                    <td>${hotel.zip}</td>
                    <td>
                        <a href="@{show(hotel.id)}">Ver Hotel</a>
                    </td>
                </tr>
            #{/list}
        </tbody>
    </table>
    <p>
        <a id="nextPage" href="${page+1}">Mas resultados</a>
    </p>
#{/if}

#{else}
    <p>
        No existen más resultados
    </p>
#{/else}      