#{extends 'main.html' /}
#{set title:hotel.name /}

<h1>Ver hotel</h1>

#{form @book(hotel.id)}
    <p>
        <strong>Nombre:</strong> ${hotel.name}
    </p>
    <p>
        <strong>Direccións:</strong> ${hotel.address}
    </p>
    <p>
        <strong>Ciudad:</strong> ${hotel.city}
    </p>
    <p>
        <strong>Estado:</strong> ${hotel.state}
    </p>
    <p>
        <strong>Código Postal:</strong> ${hotel.zip}
    </p>
    <p>
        <strong>País:</strong> ${hotel.country}
    </p>
    <p>
        <strong>Tarifa por noche:</strong> ${hotel.price}
    </p>
    
    <p class="buttons">
        <input type="submit" value="Book Hotel"> <a href="@{index()}">Volver a Búsqueda</a>      
    </p>
#{/form}
