#{extends 'main.html' /}
#{set title:'Home' /}

<div id="login">
    
    (Invitado demo/demo)

    #{form @login(), id:'formLogin'}
        <p class="field">
            <label>Usuario:</label>
            <input type="text" name="username" size="19" value="${flash.username}" />
        </p>
        <p class="field">
            <label>Contraseña:</label>
            <input type="password" name="password" size="19"/>
        </p>    
        <p class="buttons">
            <input type="submit" value="Acceder" />
        </p> 
    #{/form}

    <p>
        <a href="@{register()}">Registrar Nuevo Usuario</a>
    </p>

</div>

<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>
