#{extends 'main.html' /}
#{set title:'Home' /}

<div id="presentation">

    <h1>Informacion General</h1>

    <p>En una combinación de excepcionales niveles de comodidad y lo mejor de la hospitalidad peruana, el SGRH es una excelente opción para las personas que viajan por negocios o por placer en el mundo de hoy. Ubicado convenientemente en la entrada al centro histórico de Lima, estamos a sólo 15 minutos del Aeropuerto Internacional Jorge Chávez.</p>
    <p>Conéctese con el trabajo, la familia y la diversión en nuestro "destino de conexión" del lobby. Nuestra última innovación tecnológica ofrece modernas estaciones de trabajo con acceso a Internet de alta velocidad con cable e inalámbrico, un creativo y acogedor diseño y un cálido ambiente, que permitirán a nuestros huéspedes permanecer en contacto con aquello que les es más importante.</p>
    <p>La tradición peruana se sumerge en un entorno contemporáneo bañado de luz natural en las áreas públicas. Disfrute de las comodidades y los servicios cinco estrellas en nuestras 431 habitaciones extra grandes y en todo el hotel, con acceso a Internet, un centro de negocios y numerosas oportunidades recreativas.</p>
    <p>Comparta una noche memorable probando una amplia variedad de platos de cocina peruana e internacional en nuestros dos restaurantes y bar. Tenemos capacidad para eventos de todo tipo, desde reuniones de negocios pequeñas hasta conferencias grandes y ocasiones sociales, en nuestras extensas instalaciones para reuniones y banquetes.</p>
    <p>Alguna vez conocida como la "Ciudad de los Reyes," Lima está rodeada de una historia intrigante cercada de misterios de los antiguos Incas. Las calles de la ciudad, impregnadas de tradición y rebosantes de esplendor histórico, están adornadas con reliquias antiguas.</p>
    <p>El SGRH es un excelente lugar para disfrutar el encanto, la calidez, la atención personal y los servicios de Lima.</p>

</div>

<div id="login">
    
    (Invitado demo/demo)

    #{form @login(), id:'formLogin'}
        <p class="field">
            <label>Usuario:</label>
            <input type="text" name="username" size="19" value="${flash.username}" />
        </p>
        <p class="field">
            <label>Contraseña:</label>
            <input type="password" name="password" size="19"/>
        </p>    
        <p class="buttons">
            <input type="submit" value="Acceder" />
        </p> 
    #{/form}

    <p>
        <a href="@{register()}">Registrar Nuevo Usuario</a>
    </p>

</div>

<script type="text/javascript" charset="${_response_encoding}">
    sessvars.$.clearMem()
</script>
